In [12]:
# Ambientando um Alô mundo!

print("Aló mundo!")

Aló mundo!

SqlAlchemy é uma biblioteca de ORM

- Conexão fácil.
- Mapeamento de Tabela com Classe (ORM).
- Resolve um conflito de tecnologias com paradigmas diferentes.
- Tudo fique orientado a objetos.

In [13]:
! pip freeze > requeriments.txt

In [14]:
! pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [16]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [17]:
! pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [6]:
from sqlalchemy import create_engine

In [7]:
import pymysql

Senha?
- password: senai@123

In [26]:
#biblioteca para converter e resolver o problema do @
import urllib.parse

# Qual o usuario do banco e a senha?

user = 'root'
#user = 'datascience_manha'

password = urllib.parse.quote_plus('senai@123')
#password=''

# Qual o host e o banco?
host = 'localhost'
database= 'projetodiario1'

# connection_string: string com todas as informações da conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# criando a conexão
engine = create_engine(connection_string)

# Escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"

# Criar um dataframe com uma consulta SQL
df_alunos = pd.read_sql(query_alunos, engine)

df_alunos

,id,ra,Nome,Tempo_de_Estudo,Renda_Media_Salarial_Familiar
0,1,12345670,None,0,NaN
1,2,12345671,None,0,NaN
2,3,12345672,None,0,NaN
3,4,12345673,None,0,NaN
4,5,12345674,None,0,NaN
...,...,...,...,...,...
70,71,52345725,Eliane Lima,65,6000.0
71,72,52345726,Felipe Santos,66,6100.0
72,73,52345727,Gabriela Costa,67,6200.0
73,74,52345728,Henrique Oliveira,68,6300.0
74,75,52345729,Igor Silva,69,6400.0

Bibliotecas para dataScience

- pandas(EDA - Analise Exploratória de Dados)
- Scikit-Learn (Fundamentos de inteligência Artificial)
- NumPy(Matemática Complexa com Abstração)

Salvando DataFrame

- .csv
- .xlsx
- .json
- .sql
- .html
- .xml

In [27]:
csv_filename = "alunos.csv"
df_alunos.to_csv(csv_filename,index=False)

# Crie uma nova célula que salve o dataframe no formato .JSON

In [28]:
json_filename = "aluno.json"
df_alunos.to_json(json_filename,index=False)

Um novo dataframe

In [32]:
df_alunos.columns

Index(['id', 'ra', 'Nome', 'Tempo_de_Estudo', 'Renda_Media_Salarial_Familiar'], dtype='object')

In [ ]:
df_tempo_renda = df_alunos[['tempoestudo','rendafamiliar']]