In [1]:
print("Alo mundo")

Alo mundo

Lista de regras

- A Classe é um conjunto de objetos;
- A Classe agrupa objetos em comum;
- A Classe possui um contrutor: __init__ 
- As Características dos objetos são atributos.
- O self acessa as caracteristicas e comportamentos da classe.
- Os métodos de trabalho (workers -Oziel Moreira Neto): são métodos para calcular, desenvolver a lógica de programação.

Exercicio:

- Criar uma classe Produto.
- Com uma função para calcular o valor total do produto

In [2]:
class Produto: 
    def __init__(self, qtde, preco):
        self.qtde = qtde
        self.preco = preco

    def calcular_total(self):
        return self.qtde * self.preco

In [3]:
# Passagem de parâmetro por valor

p = Produto(qtde=10, preco=10)

print(f"O valor total de melancias é: {p.calcular_total()}")

O valor total de melancias é: 100

Desafio:
- Analise o dataset aluguel.csv da aula passada.
- E crie uma classe que representará o arquivo.
- Crie três imóveis(objetos) que estão no dataset.

In [6]:
import pandas as pd

url = "dataset/aluguel.csv"
dados = pd.read_csv(url,sep=";")
dados.head(25)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN

In [13]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [31]:
class Imovel: 
    def __init__(self, tipo, bairro, quartos, vagas, suites, area, valor, condominio, iptu):
        self.tipo = tipo
        self.bairro = bairro
        self.quartos = quartos
        self.vagas = vagas
        self.suites = suites
        self.area = area
        self.valor = valor
        self.condominio = condominio
        self.iptu = iptu

    def obter_valores(self):
        return {
            'tipo': self.tipo,
            'bairro': self.bairro,
            'quartos': self.quartos,
            'vagas': self.vagas,
            'suites': self.suites,
            'area': self.area,
            'valor': self.valor,
            'condominio': self.condominio,
            'iptu': self.iptu
        }

imovel1 = Imovel("casa","Taguatinga Norte",3,2,2,150,500.000,1200, 1600)
imovel2 = Imovel("apartamento","Taguatinga sul",3,2,2,100,600.000,1500, 1800)
imovel3 = Imovel("kitnet","Taguatinga centro",2,1,1,50,300.000,1300, 1500)

print(f"Objeto 1, Tipo: {imovel1.tipo}, Bairro: {imovel1.bairro}, Quartos: {imovel1.quartos}, Vagas: {imovel1.vagas}, Suites: {imovel1.suites}, Area: {imovel1.area}m, Valor: R${imovel1.valor}, Condominio: R${imovel1.condominio}, IPTU: R${imovel1.iptu}")
print(f"Objeto 2, Tipo: {imovel2.tipo}, Bairro: {imovel2.bairro}, Quartos: {imovel2.quartos}, Vagas: {imovel2.vagas}, Suites: {imovel2.suites}, Area: {imovel2.area}m, Valor: R${imovel2.valor}, Condominio: R${imovel2.condominio}, IPTU: R${imovel2.iptu}")
print(f"Objeto 3, Tipo: {imovel3.tipo}, Bairro: {imovel3.bairro}, Quartos: {imovel3.quartos}, Vagas: {imovel3.vagas}, Suites: {imovel3.suites}, Area: {imovel3.area}m, Valor: R${imovel3.valor}, Condominio: R${imovel3.condominio}, IPTU: R${imovel3.iptu}")

print("\n")
print(imovel1.obter_valores())
print(imovel2.obter_valores())
print(imovel3.obter_valores())

Objeto 1, Tipo: casa, Bairro: Taguatinga Norte, Quartos: 3, Vagas: 2, Suites: 2, Area: 150m, Valor: R$500.0, Condominio: R$1200, IPTU: R$1600
Objeto 2, Tipo: apartamento, Bairro: Taguatinga sul, Quartos: 3, Vagas: 2, Suites: 2, Area: 100m, Valor: R$600.0, Condominio: R$1500, IPTU: R$1800
Objeto 3, Tipo: kitnet, Bairro: Taguatinga centro, Quartos: 2, Vagas: 1, Suites: 1, Area: 50m, Valor: R$300.0, Condominio: R$1300, IPTU: R$1500


{'tipo': 'casa', 'bairro': 'Taguatinga Norte', 'quartos': 3, 'vagas': 2, 'suites': 2, 'area': 150, 'valor': 500.0, 'condominio': 1200, 'iptu': 1600}
{'tipo': 'apartamento', 'bairro': 'Taguatinga sul', 'quartos': 3, 'vagas': 2, 'suites': 2, 'area': 100, 'valor': 600.0, 'condominio': 1500, 'iptu': 1800}
{'tipo': 'kitnet', 'bairro': 'Taguatinga centro', 'quartos': 2, 'vagas': 1, 'suites': 1, 'area': 50, 'valor': 300.0, 'condominio': 1300, 'iptu': 1500}

# Criar uma calculadora orientada a objetos